.conversion-container {
    width: max-content;
    height: 8rem;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 1rem;
}

.conversion-container>div,
.conversion-container button {
    flex: 1;
    width: 25%;
    padding: 10px;
}

.conversion-container>div>input,
.conversion-container>div>select {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    outline: none;
}

.conversion-container button {
    border: none;
    background: mediumseagreen;
    color: white;
    letter-spacing: 1px;
    border-radius: 0;
    font-size: 16px;
    cursor: pointer;
}

input,
select {
    border-radius: 0;
    border: 1px solid lightgray;
    margin-bottom: 1rem;
}

.conversion-container select {
    font-size: 16px;
}