@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --nav-bar-color: #20232a;
    --footer-color: #888;
    --app-header-height: 3.4rem;
    --app-footer-height: 2rem;
    --min-content-height: calc(100vh - 5.4rem);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline:none;
}

html {
    scroll-behavior: smooth;
    font-size: 65%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.app-header {
    height: 3.4rem;
    background-color: #242424!important;
}
.app-header * {
    color:#fff !important;
}

footer {
    height: 2rem;
    background-color: var(--footer-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.app-content {
    min-height: calc(100vh - 5.4rem);
    position: relative;
}

/**/
/* width */
*::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}