.calculator-container {
    background: #333;
    height:15rem;
    width: 10rem;
    border-radius: 10px;
    padding:10px 16px 1.5rem 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.calc-name {
    color:white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.calculator-container .res {
    height: 1.5rem;
    width: 100%;
    background: white;
    padding:5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.calculator-container .interaction {
    height:80%;
    width:100%;
    border: 1px solid gray;
    margin-top:20px;
    padding:5px;
    display: flex;
}
.calculator-container .interaction > div {
    background: white;
    display: inline-flex;
    flex-wrap: wrap;
    height: 100%;
}
.calculator-container .interaction .numbers {
    flex:3;
    display: flex;
    flex-wrap: wrap;
}
.calculator-container .interaction .numbers > div {
    font-size: 20px;
    font-weight: normal;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid lightgray;
    height: 25%;
    min-width: 33%;
    cursor: pointer;
}
.calculator-container .interaction .numbers > div:hover {
     background:lightgray;
}

.calculator-container .interaction .operators {
    margin-left: 5px;
    flex:2;
    display: flex;
}
.calculator-container .interaction .operators div {
    font-size: 15px;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid lightgray;
    height: 20%;
    min-width: 50%;
    cursor: pointer;
    font-weight: 500;
}
.calculator-container .interaction .operators div:hover {
    background: lightgray;
}
