#gameCanvas {
    border: 1px solid darkslategrey;
}
.tic-tac-toe-box {
    height: 10rem;
    width: 10rem;
    background: white;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(2px 4px 6px black);
}
.tic-tac-toe-box > div {
   flex:1;
   display:flex;
}
.tic-tac-toe-box > div > div {
    flex:1;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 1px;
    margin-top:1px;
    filter: drop-shadow(2px 4px 6px black);
    position: relative;
}
.tic-tac-toe-box > div > div:hover {
    transform:scale(1.05);
    transition: all 0.5s ease-out;
}